<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>My Projects</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>

    <div class="container">
      {{> header}}
      <div class="row">
        <div class="col-sm-12">
          <h4>Here is a list of my projects:</h4>
          <ul>
            <li>App 1</li>
            <li>App 2</li>
          </ul>
        </div>
      </div>
      {{> footer}}
    </div>
  </body>
</html>
